<div class="jumbotron">
    <h1 class="display-4 text-center">Products</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                <i class="fas fa-store"></i>
                My Products
            </h6>
            <app-products></app-products>
        </div>
        <div class="col-md-7">
            <h6 class="text-center">
                <i class="fas fa-shopping-cart"></i>
                My Shopping Cart
            </h6>
            <app-shoppingcart></app-shoppingcart>
        </div>
    </div>
</div>